<html>
    <head>
        <title>Forgot Password</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
	<style type="text/css">
        .form-outline{
            width:800px; 
            height:600px; 
            margin:0 auto; 
            background-color:#0d8b97;
        }
	{% include "resets.css" %}
	{% include "style.css" %}
	{% include "profile.css" %}
	{% include "edit_profile.css" %}
	</style>
    </head>
    <body>
    <!--header-->
    {% include "header.html" %}
    <!--content-->


         <section class="row">
            <div class="container">
            <div class="content">
            <h3>Forgot Password</h3>
            
             <form action="/forgot_pass/" method="post" class="form" role="form">
		<table>
		<tr>
             <td>   <label for="username"><font color="black">Username:</font></label> </td>
                   <td> <input maxlength=50 class="form-control" name="username" placeholder="Enter the username" type="text" required></td>
		</tr>
            <tr>
             <td>   <label for="password"><font color="black">Email ID:</font></label></td>
                  <td>  <input maxlength=100 class="form-control" name="email" placeholder="Enter the Email ID" type="email" required></td>
		</tr>
		</table>              
                
                <div class="options">
                   
                    <div class="btn">
                    <input type="submit" name="submit" value="Email Me"><font color="black"></font></div>
                    
                    <div><a href="/" class="btn"><font color="black">Cancel</font></a></div>
                </div>
		</form>
             </div>
             </div>
        </section>
    <!--footer-->
    {% include "footer.html" %}      
    </body>
</html>
