<style>
{% include "resets.css" %}
{% include "style.css" %}
</style>
<section class="footer">
		<div class="container">
			<nav>
				<ul>
					<li><a href="/aboutPC" title="Home" >About Peace Corps</a> </li>
					<li><a href="/policies/" title="Know about our team" >Policies </a></li>
					<li><a href="/details/" title="FAQs">Important Details</a></li>
					<li><a href="/helpPC/" title="Contact Us"">Help</a></li>
				</ul>
			<nav>
			<p>&copy 2017 PeaceCorps</p>
			<a href="#top">Return to top</a>


<!--html portion starts here -->
<div class="footerBkg">
   
    
			<div class="footerBtns"><font size="4" color="#2c0f00">
				<a href="/aboutPC" title="Home" style="color:2c0f00;">About Peace Corps</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="/policies/" title="Know about our team" style="color:2c0f00;">Policies</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="/details/" title="FAQs" style="color:2c0f00;">Important Details</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="/helpPC/" title="Contact Us" style="color:2c0f00;">Help</a>&nbsp;&nbsp;
				<br><br>
				</font>
            </div>
    
    

    
    
    

    
			<p style="color:2c0f00;">&copy;2017 PeaceCorps</p>
			
			<a href="#top" style="color:2c0f00;"><font size="2">Return to Top</font></a>
		</div>
	</section>
